*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sarga{
  background-color: yellow;
  width: 50vh;
  height: 50vh;
    border: solid 1px black;
    border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#zold{
  background-color: lime;
  width: 50vh;
  height: 50vh;
  border: solid 1px black;
  border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  flex-direction: column;
}
#stopBtn{
  width: 25%;
  height: 25%;
  border-radius: 50%;
}